/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  @apply bg-slate-50 text-slate-900;
}

/* Hide scrollbar globally */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, etc.) */
*::-webkit-scrollbar {
  display: none;
}


/* ... your existing styles ... */

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideInFromRight {
  animation: slideInFromRight 0.5s ease-out forwards;
}